.sign-in-wrapper {
    background: rgba(72, 72, 72, 0.365);
    text-align: center;
    height: 100vh;
    width: 100%;
    animation: top .5s ease;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin-side {
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(215, 215, 215, 0.3);
}

.signin-username-container {
    padding: 2% 0%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sg-image {
    max-width: 100%;
    height: 30px;
}

.signin-password-container {
    padding: 2% 0%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.signin-button-container {
    padding: 2% 0%;
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.writing-mode {
    writing-mode: vertical-rl;
}

.login-container {
    background-color: #000;
    color: #fff;
    z-index: -2;
    cursor: pointer;
}

.register-container {
    background-color: #000;
    color: #fff;
    z-index: -2;
    cursor: pointer;
}

.active {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    z-index: 2;
    color: black;
    cursor: context-menu;
}

.login-container,
.register-container {
    padding: 10px;
    max-width: 100%;
    font-size: 15px;
    font-weight: 700;
}

.login,
.register {
    margin: auto;
}

.sign-in-position {
    transition: .2s;
    /* border:2px solid red; */
    /* position: absolute; */
    width: 70vw;
    height: 100vh;
    margin:auto;
}

/* register */

.signin-password2-container,
.signin-email-container,
.signin-term-container {
    padding: 2% 0%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.register-term {
    color: blue;
}

.register-term:hover {
    text-decoration: underline;
    cursor: pointer;
}

#term {
    margin-right: 3%;
    text-align: center;
    align-items: center;
}

/* 
.sign{
    display: none;
} */