
.youtube-detail-container2{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10%;
    font-size: 20px;
    background-color: #ff2851;
    padding: 0% 5%; 
    color: white;
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
    height: 0;
    right: 30%;
}

.youtuber-swiper-container:hover .youtube-detail-container2{
    height:auto;
}

.you-img{
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}

.youtube-time{
    margin:0;
}

.youtuber-swiper-container{
    transition: .2s;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}